<link rel="apple-touch-icon" sizes="180x180" href="{{.Site.BaseURL}}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{.Site.BaseURL}}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{.Site.BaseURL}}/favicon-16x16.png">
<link rel="manifest" href="{{.Site.BaseURL}}/site.webmanifest">
<link rel="mask-icon" href="{{.Site.BaseURL}}/safari-pinned-tab.svg" color="#5bbad5">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

{{ $ogTitle := .Title | markdownify | plainify }}
{{ $ogSite := site.Title | plainify }}

<meta property="og:site_name" content="{{ $ogSite }}">
<meta property="og:title" content="{{ $ogTitle }}">

{{ if and (ne $ogTitle "") (ne $ogTitle $ogSite) }}
    <meta property="og:description" content="{{ $ogSite }}">
{{ end }}

<meta property="og:image" content="{{.Site.BaseURL}}/{{ site.Params.logo }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta name="twitter:site" content="@zhuzhiyu_">
<meta property='og:type' content='article' />
